{% load static %}
<!DOCTYPE html>
<html >
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'principal/images/favicon.png' %}">
        <title>{% block title%} Registrarse{% endblock%}</title>

        <link href="{% static 'principal/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'principal/css/style.css' %}" rel="stylesheet">
        <link href="{% static 'principal/css/blue.css' %}" id="theme" rel="stylesheet">
    </head>

    <body>
        <section id="wrapper">
            <div class="login-register" style="background-image:url({% static 'principal/images/login-register.jpg' %});">        
                <div class="login-box card">
                <div class="card-body "  >
                    
                   {% block content %} 
       
       
                    {% endblock %}
                    
                </div>
              </div>
            </div>
            
        </section>
        
    </body>

</html>
