{% extends "principal/create.html" %}

{% block title  %} login {% endblock %}

{% block h3  %} LOGIN {% endblock %}
<br><br><br>

{%block content%}
<form method="POST" action="">
    {% csrf_token%}

<h3 class="box-title m-b-20" >  <em>LOGIN</em> </h3> 
<div class="form-group">
    <div class="col-xs-12">
        <input class="form-control" type="text" required="" placeholder="Nombre de Usuario" name="username">
    </div>
</div>
<div class="form-group">
    <div class="col-xs-12">
        <input class="form-control" type="password" required="" placeholder="Passsword" name="password">
    </div>
</div>
<div class="ml-auto">
    <a href="javascript:void(0)" id="to-recover" class="text-muted"><i class="fa fa-lock m-r-5"></i> Forgot pwd?</a> 
</div>
<div class="form-group text-center m-t-20">
    <div class="col-xs-12">
        <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">LOG IN</button>
    </div>
</div>
{% for message in messages %}
<p id="messages">{{message}}</p>
{% endfor%}
<div class="form-group m-b-0">
    <div class="col-sm-12 text-center">
        Already have an account? <a href="../register" class="text-info m-l-5"><b>Sign up</b></a>
    </div>
</div>
</form>
{% endblock %}

