{% extends  "principal/index1.html" %}

{% block title %}Info perfil {% endblock %}

{% block content  %}

<form method="POST" > 
    <br><br><br>
    {%  csrf_token %}
    <h3 class="box-title m-b-20" style="text-align: center; color: rgb(19, 34, 34);" >  <em> Crear Perfil </em> </h3> 

    <div class="form-group ">
        <div class="col-xs-12">
            {{form.Ci}}
        </div>
    </div>    

<div class="form-group ">
    <div class="col-xs-12">
        {{form.Nombre}}
    </div>
</div>
<div class="form-group ">
    <div class="col-xs-12">
        {{form.Apellido}}
    </div>
</div>
<div class="form-group ">
    <div class="col-xs-12">
        {{form.Correo}}
    </div>
</div>
<div class="form-group ">
    <div class="col-xs-12">
        {{form.Celular}}
    </div>
</div>
<div class="form-group ">
    <div class="col-xs-12">
        {{form.Whatsapp}}
    </div>
</div>
<div class="form-group ">
    <div class="col-xs-12">
        {{form.Imagen}}
    </div>
</div>
    
    <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" name= "Create User">Sign Up</button>
    <div class="form-group m-b-0">
        <div class="col-sm-12 text-center">
            Already have an account? <a href="login" class="text-info m-l-5"><b>Sign In</b></a>
        </div>
    </div>
    <script>
        var form_fields = document.getElementsByTagName('input')

        form_fields[1].placeholder='';
        form_fields[2].placeholder='Introdusca su C.I.';
        form_fields[3].placeholder='Introdusca su Nombre';
        form_fields[4].placeholder='Introdusca su Apellido';
        form_fields[5].placeholder='Introdusca su Correo';
        form_fields[6].placeholder='Introdusca su Celular';
        form_fields[7].placeholder='Introdusca su Whatsapp';
        for (var field in form_fields){
            form_fields[field].className += ' form-control'
        }
    </script>


{% endblock %}