{% extends "principal/index1.html" %}

{% block title %} Informacion {% endblock %}

{% block content %}
 <body>  
    <form class="table table-striped table-bordered table-sm" > 
<table class="table table-striped table-bordered table-sm" align="center">  
    <thead class="thead-dark">  
        <h4>Informacion de perfil</h4>
    <tr>  
        <th> CI</th>  
        <th> NOMBRE</th>  
        <th> APELLIDO</th>  
        <th> EMAIL</th>  
        <th> CELULAR</th>  
        <th> WHATSAPP</th>  
        <th> IMAGEN</th>  
        <th>ACTUALIZAR</th>  
        <th>BORRAR</th>
    </tr>  
    </thead>  
    <tbody>  
{% for perfil in perfil %}  
    <tr>  
        <td>{{ perfil.Ci }}</td>  
        <td>{{ perfil.Nombre }}</td>  
        <td>{{ perfil.Apellido }}</td>  
        <td>{{ perfil.Correo }}</td>  
        <td>{{ perfil.Celular }}</td>  
        <td>{{ perfil.Whatsapp }}</td>  
        <td>{{ perfil.Imagen }}</td>  
        <td><a href="/actualizar/{{ perfil.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a></td>  
        <td><a href="/delete/{{ perfil.id }}">Delete</a></td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/read" class="btn btn-primary">Add New Record</a></center>  
</form>
</body>  

{% endblock %}
