{% extends  "principal/index1.html" %}

{% block title %}Datos Usuario {% endblock %}
{% block content  %}
<body>  
    <form class="table table-striped table-bordered table-sm" method="GET" > 
<table class="table table-striped table-bordered table-sm"  >  
    <thead class="thead-dark">  
        <h4>Informacion de usuario</h4>
    <tr>  
        <th> USERNAME</th>  
        <th> EMAIL</th>  
        <th> PASSWPRD</th>
         <th>Actualizar</th>
         <th>Eliminar</th>
    </tr>  
    </thead>  
    <tbody>  
{% for user in user %}  
    <tr>  
        <td>{{ user.username }}</td>  
        <td>{{ user.email }}</td>  
        <td> {{user.password}}</td>  
        <td><a href="/actualizar_user/{{ user.id }}"><span class="glyphicon glyphicon-pencil" >Editar</span></a></td>  
        <td><a href="/delete_user/{{ user.id }}">Eliminar</a></td>  
    </tr>  
{% endfor %}  
    </tbody>  
</table>  
<br>  
<br>  
<center><a href="/read" class="btn btn-primary">Add New Record</a></center>  
</form>
</body>  




{% endblock %}