{% extends "principal/create.html" %}

{% block title %} Register User {% endblock %}

{% block content %}
<form method="POST"  action="" >
    {% csrf_token%}
    <h3 class="box-title m-b-20">Sign Up</h3>
    <div class="form-group">
        <div class="col-xs-12">
          {{form.username}}
        </div>
    </div>
    <div class="form-group ">
        <div class="col-xs-12">
          {{form.email}}
        </div>
    </div>
   
    <div class="form-group ">
        <div class="col-xs-12">
        {{form.password1}}
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-12">
            {{form.password2}}
        </div>
    </div>
    <div class="form-group text-center m-t-20">
        <div class="col-xs-12">
            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" name= "Create User">Sign Up</button>
        </div>
    </div>
    <div class="form-group m-b-0">
        <div class="col-sm-12 text-center">
            Already have an account? <a href="../login" class="text-info m-l-5"><b>Sign In</b></a>
        </div>
    </div>
    <script>
        var form_fields = document.getElementsByTagName('input')
        form_fields[1].placeholder='Nombre de Usuario...';
        form_fields[2].placeholder='Email...';
        form_fields[3].placeholder='Password...';
        form_fields[4].placeholder='confirmar Password...';
        for (var field in form_fields){
            form_fields[field].className += ' form-control'
        }
    </script>
</form> 
</form>






{% endblock %}