{% extends  "principal/index1.html" %}

{% block title %}Actualizar User {% endblock %}

{% block content  %}
<br><br><br>
<form method="POST">
<p>
    <label  > Username: </label>
    <input type="text" name="username" required id="id_usernama" value="{{form.username}}"> 
</p>
<p>
    <label for="id_email"> Email:</label> 
    <input type="text" name="email" maxlength="254"  id="id_email" value="{{form.email}}" >
</p>
<p>
    <label for="id_passwor1"> password</label>
    <input type="password" name="password1" required id="password1" value="{{form.password1}}">
</p>
<p>
    <label for="id_password2"> password confirme</label>
    <input type="password" name="password2" requiredq id="password2"  value="{{form.password2}}"> 
</p>
</form>
{% endblock %}