{% extends  "principal/index1.html" %}

{% block title %}Actualizar perfil {% endblock %}

{% block content  %}
<form method="POST" action="">  
    {% csrf_token %}  
<div class="container">  
<br>  
<div class="form-group row">  
<label class="col-sm-1 col-form-label"></label>  
<div class="col-sm-4">  
<h3>Update Perfil</h3>  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label"> Ci:</label>  
<div class="col-sm-4">  
    <input type="text" name="Ci" id="id_Ci" required  value="{{ perfil.Ci }}"/>  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Nombre:</label>  
<div class="col-sm-4">  
    <input type="text" name="Nombre" id="id_Nombre" required  value="{{ perfil.Nombre }}" />  
</div>  
</div>  
<div class="form-group row">  
    <label class="col-sm-2 col-form-label">Apellido:</label>  
    <div class="col-sm-4">  
        <input type="text" name="Apellido" id="id_Apellido" required  value="{{ perfil.Apellido }}" />  
    </div>  
    </div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Email:</label>  
<div class="col-sm-4">  
    <input type="email" name="Correo" id="id_Correo" required  value="{{ perfil.Correo }}" />  
</div>  
</div>  
<div class="form-group row">  
<label class="col-sm-2 col-form-label">Celular:</label>  
<div class="col-sm-4">  
    <input type="number" name="Celular" id="id_Celular"  value="{{ perfil.Celular }}" />  
</div>  
</div>  
<div class="form-group row">  
    <label class="col-sm-2 col-form-label">Whatsapp:</label>  
    <div class="col-sm-4">  
        <input type="number" name="Whatsapp" id="id_Whatsapp" value="{{ perfil.Whatsapp }}" />  
    </div>  
    </div>  
    <div class="form-group row">  
        <label class="col-sm-2 col-form-label">Imagen:</label>  
        <div class="col-sm-4">  
            <input type="image" name="Imagen" id="id_Imagen"  value="{{ perfil.Imagen }}" />  
        </div>  
        </div>      
<div class="form-group row">  
<label class="col-sm-1 col-form-label"></label>  
<div class="col-sm-4">  
<button type="submit" class="btn btn-success">Update</button>  
</div>  
</div>  
</div>  
</form>  


{% endblock %}